.page, .header, .description, .digits, .feynman, .kaufman, .footer, .logo {
 border: 1px solid red; 
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
 }

.header {
  /* ниже установили ограничения для секции */
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  /*text-align: right;*/
  /*align-items: center;*/


  
}

/*Ниже заданы отступы и размеры по высоте и ширине блока*/
.logo {
  margin: 30px auto auto 64px;
  height: 32px;
  width: 228px;
}

/*Ниже задали расстояние от текста до блока, размер и цвет шрифта*/
.logo__place_header {
  margin: 0 auto;
  font-size: 25px;
  color: #000;
}

/*Ниже задали расстояние от текста до блока, размер и цвет шрифта*/
.header__title {
  margin: 0 auto;
  font-size: 25px;
  color: #000;
  
  /*text-align: right;*/
  /*margin-left: 64px;*/
  
 
  

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

.description {

} 

.digits {
  
} 

.feynman {
  
} 

.kaufman {

} 

 .footer {

 } 

 .logo__place_footer {
  margin: 0 auto;
  font-size: 25px;
  color: #fff;
}





















































/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
